.CitySelectDiv {
  color: white;
  text-align: center;
  margin-top: 4vh;
}

.formInput {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 10px;
  border: 3px solid white;
  width: 20%;
}

.formInput,
textarea {
  color: white;
}

::placeholder {
  color: white;
  font-weight: bold;
}

/* Responsive below */

@media screen and (max-width: 1200px) {
  .formInput {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 10px;
    border: 3px solid white;
    width: 25%;
  }
}

@media screen and (max-width: 992px) {
  .formInput {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 10px;
    border: 3px solid white;
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .formInput {
    background-color: transparent;
    border-radius: 10px;
    padding: 8px 8px;
    border: 2px solid white;
    width: 35%;
  }
}

@media screen and (max-width: 600px) {
  .formInput {
    background-color: transparent;
    border-radius: 10px;
    padding: 8px 8px;
    border: 2px solid white;
    width: 40%;
  }
}
