.forecastDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 18vh;
  margin-top: 6vh;
}

.forecastDiv img {
  width: 60%;
}

.dayNightTemp {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
