.savedLocalizationsDiv{
    position: absolute;
    border-top: 2px solid rgba(255, 255, 240, 0.671);
    border-bottom: 2px solid rgba(255, 255, 240, 0.671);
    top: 8%;
    left: 5%;
    width: 15%;
    max-height: 150px;
    overflow-y: scroll;
    text-align: center;
}

.savedLocalizationsDiv::-webkit-scrollbar{
    display: none;
}

.savedLocalizationsDiv h3{
    margin-top: .5vh;
    margin-bottom: .5vh;
    text-shadow: 2px 2px black;
}

.savedLocalizationsDiv p{
    color: rgb(211, 211, 211);
    text-shadow: 1px 1px black;
    cursor: pointer;
    margin-top: 1vh;
}

.savedLocalizationsDiv p:hover{
    color: ivory;
}

.savedLocalizationHeadingAndArrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.savedLocalizationHeadingAndArrow i{
    margin-left: 1em;
    margin-top: .5vh;
    cursor: pointer;
    color: ivory;
}

.savedCityAndIconDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.savedCityAndIconDiv i{
    margin-left: .5em;
    color: white;
    cursor: pointer;
}
  
  @media screen and (max-width: 1450px) {
    .savedLocalizationsDiv{
        position: absolute;
        border-top: 2px solid rgba(255, 255, 240, 0.671);
        border-bottom: 2px solid rgba(255, 255, 240, 0.671);
        top: 10%;
        left: 5%;
        width: 18%;
        height: fit-content;
        text-align: center;
    }
    
    .savedLocalizationsDiv h3{
        margin-top: .5vh;
        margin-bottom: .5vh;
        text-shadow: 2px 2px black;
        font-size: 1.1em;
    }
    
    .savedLocalizationsDiv p{
        color: rgb(211, 211, 211);
        text-shadow: 1px 1px black;
        cursor: pointer;
        margin-top: 1vh;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .savedLocalizationsDiv{
        position: absolute;
        border-top: 2px solid rgba(255, 255, 240, 0.671);
        border-bottom: 2px solid rgba(255, 255, 240, 0.671);
        top: 10%;
        left: 5%;
        width: 20%;
        height: fit-content;
        text-align: center;
    }
    
    .savedLocalizationsDiv h3{
        margin-top: .5vh;
        margin-bottom: .5vh;
        text-shadow: 2px 2px black;
        font-size: 1em;
    }
    
    .savedLocalizationsDiv p{
        color: rgb(211, 211, 211);
        text-shadow: 1px 1px black;
        cursor: pointer;
        margin-top: 1vh;
        font-size: .9em;
    }
  }
  
  @media screen and (max-width: 992px) {
    .savedLocalizationsDiv{
        display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .savedLocalizationsDiv{
        display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .savedLocalizationsDiv{
        display: none;
    }
  }