.savedLocalizationsDiv{
    position: absolute;
    border-top: 2px solid rgba(255, 255, 240, 0.671);
    border-bottom: 2px solid rgba(255, 255, 240, 0.671);
    top: 10%;
    left: 5%;
    width: 15%;
    height: fit-content;
    text-align: center;
}

.savedLocalizationsDiv h3{
    margin-top: .5vh;
    margin-bottom: .5vh;
    text-shadow: 2px 2px black;
}

.savedLocalizationsDiv p{
    color: rgb(211, 211, 211);
    text-shadow: 1px 1px black;
    cursor: pointer;
    margin-top: 1vh;
}

.savedLocalizationsDiv p:hover{
    color: ivory;
}

.savedLocalizationsDiv p:last-child{
    margin-bottom: 1vh;
}